<script type="importmap">
	{
	  "imports": {
		"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
	  }
	}
</script>

<div id="app">{{ message }}

   <form @submit.prevent="postForm">	
		<input v-model="attendee.name" name="name" placeholder="What is your name?" />
		<input v-model="attendee.notes" name="notes" placeholder="What requirements?" />
		<button>Add</button>
		{{ attendee.name }} {{ attendee.notes }}
   </form>

   <ul>
		<li v-for="item in list">
			{{ item.name }} - {{ item.notes }}
			<button @click="deleteAttendee(item.id)">Delete</button>
		</li>
   </ul>

</div>

<script type="module">
	import { createApp } from 'vue'

	createApp({
	  data() {
		return {
		  message: 'Hello Vue!',
		  attendee: {
			id: 0,
			name: '',
			notes: '',
		  },
		  list: []
		};
	  },
	  created() {
		this.clearform();
	  },
	  methods: {
		clearform() {
		  console.log("clearing the form")
		  this.attendee.id = Math.random()
		  this.attendee.name = ''
		  this.attendee.notes = ''
		},
		postForm() {
		  console.log(this.attendee);

		  fetch(`/attendee`, {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(this.attendee),
		  })
			.then(response => response.json())
			.then(json => {
			  console.log('posted got back stuff', json);
			  this.clearform();
			  this.getAttendees();
			})
			.catch(err => console.error(err));
		},
		getAttendees() {
		  fetch(`/attendees`, { 
			method: 'GET',
		  })
			.then(response => response.json())
			.then(json => {
			  console.log("IT WORKS", json)
			  this.list = json; 
			})
			.catch(err => console.error(err));
		},
		deleteAttendee(item_id) {
		  fetch(`/attendees/${item_id}`, { 
			method: 'DELETE',
		  })
			.then(response => response.json())
			.then(json => {
			  console.log('deleteAttendee()', json);
			  this.getAttendees(); 
			})
			.catch(err => console.error(err));
		}
	  },
	}).mount('#app')
</script>
