<script type="importmap">
	{
	  "imports": {
		"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
		"bulma": "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
	  }
	}
</script>



<div id="app">
	{{ message }}
	<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
		<a class="navbar-item" href="https://bulma.io">
		  <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
		</a>
		<div class="navbar-burger" data-target="navbarExampleTransparentExample">
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
	  </div>
  
	  
  
	<div class="columns is-desktop">
		<div class="column">
		  <form @submit.prevent="createItem">
			<div class="field">
			  <label class="label">User ID</label>
			  <div class="control">
				<input v-model="items.user_id" class="input" name="user_id" placeholder="User ID">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Latitude</label>
			  <div class="control">
				<input v-model="items.lat" class="input" name="lat" placeholder="Latitude">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Longitude</label>
			  <div class="control">
				<input v-model="items.lon" class="input" name="lon" placeholder="Longitude">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Image</label>
			  <div class="control">
				<input v-model="items.image" class="input" name="image" placeholder="Image URL">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Keywords</label>
			  <div class="control">
				<input v-model="items.keywords" class="input" name="keywords" placeholder="Keywords">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Description</label>
			  <div class="control">
				<textarea v-model="items.description" class="textarea" name="description" placeholder="Description"></textarea>
			  </div>
			</div>
	  
			<div class="control">
			  <button class="button is-primary" data-action="create_item">create_item</button>
			</div>
		  </form>
		</div>
	  </div>
	<ul>
		<li v-for="item of list">
			{{ item }}
			<span> {{ item.user_id }}</span>
			<span> {{ item.lat }}</span>
			<span> {{ item.lon }}</span>
			<div v-if="item.image">
				<img :src="item.image" alt="Item Image" style="max-width: 100%; height: auto;">
			</div>
			<span> {{ item.keywords }}</span>
			<span> {{ item.description }}</span>
			<button @click="deleteItems(item.id)">Delete</button>
		</li>
	</ul>

</div>
 
<script type="module">
	import { createApp, ref } from 'vue' ;
	
	

	 // Create a new instance of URLSearchParams with the current window's location search parameters
	 const urlParams = new URLSearchParams(window.location.search);

	// Get the value of the 'api' parameter from the URL, or use a default API URL if 'api' is not present
	const urlAPI = (urlParams.get('api') || 'https://supreme-guide-x44p9gvjrqgcvgxj-8000.app.github.dev').replace(/\/$/, '');


	createApp({
	  data() {
		return {
			message: 'freecycle',
		  items: {
			user_id: '',
			lat: '',
			lon: '',
			image: '',
			keywords: '',
			description: '',
		  },
		  list: [],
		};
	  },
	  	

	  
	  methods: {
		
		createItem() {
		  // Log the current state of items
		  console.log(this.items);

		  // Convert items to a dictionary
		  const payload = {
			user_id: this.items.user_id,
			lat: this.items.lat,
			lon: this.items.lon,
			image: this.items.image,
			keywords: this.items.keywords,
			description: this.items.description,
		  };

		  // Send a POST request to the server
		  fetch('https://supreme-guide-x44p9gvjrqgcvgxj-8000.app.github.dev/item', {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(payload),
		  })
		  .then(response => {
			if (!response.ok) {
			  throw new Error('Network response was not ok');
			}
			return response.json();
		  })
		  .then(json => {
			// Handle the response data
			console.log('Item created successfully:', json);

			// Clear form fields after successful submission
			this.items.user_id = '';
			this.items.lat = '';
			this.items.lon = '';
			this.items.image = '';
			this.items.keywords = '';
			this.items.description = '';

			// show a success message
			this.message = 'Item created successfully!',
			this.getItems();
		  })
		  .catch(err => {
			// Handle errors
			console.error('Error creating item:', err);

			// show an error message
			this.message = 'Error creating item. Please try again.';
		  });
		},
		getItems() {
    		fetch(`https://supreme-guide-x44p9gvjrqgcvgxj-8000.app.github.dev/items`, {
       		 method: 'GET',
   			 })
        		.then(response => response.json())
       			.then(json => {
       	    	 console.log("getItems", json)
        	      this.list = json  
       		 })
   				 .catch(err => console.error(err))
		},
		deleteItems(itemId) {
    		fetch(`https://supreme-guide-x44p9gvjrqgcvgxj-8000.app.github.dev/item/${itemId}`, {
        method: 'DELETE',
    		})
      		.then(json => console.log('deleted', json))
			.then(() => this.getItems())
    	.catch(err => console.error(err));
		},
	  },
	}).mount('#app');
</script>
