<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>freecycle</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

	  <!-- Navigation Bar -->
	<nav class="navbar is-active has-shadow "  aria-label="main navigation">
		<div class="navbar-brand">
			 <!-- Brand Logo -->
		  <a class="navbar-item" href="https://bulma.io">
			<img src="https://img.icons8.com/?size=30&id=61056&format=png" alt="logo" width="50" height="50">
		  </a> 
		   <!-- Brand Title -->
		  <p class="title is-4 ">Freecycle</p>
		   <!-- Mobile Menu Toggle Button -->
		  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
			<span ></span>
			<span ></span>
			<span ></span>
		  </a>
		</div>
		
		   <!-- Navbar Menu -->
		  <div class="navbar-menu" id="nav-links">
			<div class="navbar-end">
			<a class="navbar-item">my account</a>
			<a class="navbar-item">Links</a>

		  </div>
		</div>
	</nav>

	 <!-- Vue App Container -->
	<div id="app">

		  <!-- Block Sections -->
        <div class="block"></div>
		<div class="block">
            Please input below.
        </div>

		<!-- Form Section -->
		<div class="columns is-3-mobile is-1-desktop">
		<div class="column">
		 <!-- Form for Creating Items -->
		  <form @submit.prevent="createItem">
			 <!-- Input Fields -->
			<div class="field">
			  <label class="label">User ID</label>
			  <div class="control">
				<input v-model="items.user_id" class="input" name="user_id" placeholder="User ID">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Latitude</label>
			  <div class="control">
				<input v-model="items.lat" class="input" name="lat" placeholder="Latitude">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Longitude</label>
			  <div class="control">
				<input v-model="items.lon" class="input" name="lon" placeholder="Longitude">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Image</label>
			  <div class="control">
				<input v-model="items.image" class="input" name="image" placeholder="Image URL">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Keywords</label>
			  <div class="control">
				<input v-model="items.keywords" class="input" name="keywords" placeholder="Keywords">
			  </div>
			</div>
	  
			<div class="field">
			  <label class="label">Description</label>
			  <div class="control">
				<textarea v-model="items.description" class="textarea" name="description" placeholder="Description"></textarea>
			  </div>
			</div>
	  		<!-- Submit Button -->
			<div class="control">
			  <button class="button is-primary is-small" data-action="create_item">Create Item</button>
			</div>
		  </form>
		</div>
	  </div>

 <!-- Display Message Section -->
	  {{ message }}

   <!-- List Items Section -->
	  <div class="columns is-3-mobile is-desktop">
		<div class="column" v-for="item of list" :key="item.id">
			<div class="box">
			<ul>
				<li>
				 <!-- Display Item Details -->
				<p><strong>User ID:</strong> {{ item.user_id }}</p>
				<p><strong>Latitude:</strong> {{ item.lat }}</p>
				<p><strong>Longitude:</strong> {{ item.lon }}</p>
				<div v-if="item.image">
					<img :src="item.image" alt="Item Image" style="max-width: 100%; height: auto;">
				</div>
				<p><strong>Keywords:</strong> {{ item.keywords }}</p>
				<p><strong>Description:</strong> {{ item.description }}</p>
				 <!-- Delete Button -->
				<button @click="deleteItem(item.id)" class="button is-danger">Delete</button>
				</li>
			</ul>	
			</div>
		</div>
	</div>
</div>


 <!-- Import Vue and Set Up Vue App -->
<script type="importmap">
	{
	  "imports": {
		"vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
	  }
	}
</script>

  <!-- Vue App Script -->
<script type="module">
	// Import necessary functions from Vue
	import { createApp, ref } from 'vue' ;
	
	
	
	const urlParams = new URLSearchParams(window.location.search);
    const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

	createApp({
	  data() {
		return {
			message: 'freecycle',
		  items: {
			user_id: '',
			lat: '',
			lon: '',
			image: '',
			keywords: '',
			description: '',
		  },
		  list: [],
		};
	  },
	  	

	  // Methods for handling actions
	  methods: {
		 // Method for creating a new item
		createItem() {
		  // Log the current state of items
		  console.log(this.items);

		  // Convert items to a dictionary
		  const payload = {
			user_id: this.items.user_id,
			lat: this.items.lat,
			lon: this.items.lon,
			image: this.items.image,
			keywords: this.items.keywords,
			description: this.items.description,
		  };

		  // Send a POST request to the server
		  fetch(`${urlAPI}/item`, {
			method: 'POST',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify(payload),
		  })
		  .then(response => {
			 // Check if the network response was successful
			if (!response.ok) {
			  throw new Error('Network response was not ok');
			}
			return response.json();
		  })
		  .then(json => {
			// Handle the response data
			console.log('Item created successfully:', json);

			// Clear form fields after successful submission
			this.items.user_id = '';
			this.items.lat = '';
			this.items.lon = '';
			this.items.image = '';
			this.items.keywords = '';
			this.items.description = '';

			// show a success message
			this.message = 'Item created successfully!',
			this.getItems();
		  })
		  .catch(err => {
			// Handle errors
			console.error('Error creating item:', err);

			// show an error message
			this.message = 'Error creating item. Please try again.';
		  });
		},
		  // Method for fetching items from the server
		getItems() {
			fetch(`${urlAPI}/items`, {
       		 method: 'GET',
   			 })
        		.then(response => response.json())
       			.then(json => {
       	    	 console.log("getItems", json)
				   // Update the list of items
        	      this.list = json  
       		 })
   				 .catch(err => console.error(err))
		},

		// Method for deleting an item
		deleteItem(item_id) {
			fetch(`${urlAPI}/item/${item_id}`, {
			 method: 'DELETE',
			 })
        		.then(json => console.log('deleteItem()', json))
    			.catch(err => console.error(err));
		},
	  },
	}).mount('#app');
</script>

<!-- Mobile Menu Script -->
<script>
	// Select the burger icon element in the DOM
const burgerIcon = document.querySelector('.navbar-burger');
	// Select the navbar menu element in the DOM
const navbarMenu = document.querySelector('.navbar-menu');

// Add a click event listener to the burger icon
burgerIcon.addEventListener('click', () => {
     // Toggle the 'is-active' class on the navbar menu
    // This class is typically used in Bulma to show/hide the mobile menu
	navbarMenu.classList.toggle('is-active');
});

</script>
</body>